In [1]:
def cargar_dataset_kagglehub(dataset_id):
    import kagglehub, os, pandas as pd

    path = kagglehub.dataset_download(dataset_id)
    for root, dirs, files in os.walk(path):
        for file in files:
            full_path = os.path.join(root, file)
            print("Archivo encontrado:", full_path)
            if file.endswith(".csv"):
                return pd.read_csv(full_path)
            elif file.endswith(".xlsx"):
                return pd.read_excel(full_path)
    raise FileNotFoundError("No se encontró ningún archivo CSV o Excel en el dataset.")

df = cargar_dataset_kagglehub("davidjhonatan/videojuegos")

Downloading from https://www.kaggle.com/api/v1/datasets/download/davidjhonatan/videojuegos?dataset_version_number=1...

100%|██████████| 853k/853k [00:00<00:00, 20.5MB/s]

Extracting files...
Archivo encontrado: /home/codespace/.cache/kagglehub/datasets/davidjhonatan/videojuegos/versions/1/Tagged-Data-Final.csv

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("/home/codespace/.cache/kagglehub/datasets/davidjhonatan/videojuegos/versions/1/Tagged-Data-Final.csv")
df.head().T

,0,1,2,3,4
Name,.hack//Infection Part 1,.hack//Mutation Part 2,.hack//Outbreak Part 3,[Prototype],[Prototype]
Year_of_Release,2002.0,2002.0,2002.0,2009.0,2009.0
Genre,Role-Playing,Role-Playing,Role-Playing,Action,Action
Publisher,Atari,Atari,Atari,Activision,Activision
NA_Sales,0.49,0.23,0.14,0.84,0.65
EU_Sales,0.38,0.18,0.11,0.35,0.4
JP_Sales,0.26,0.2,0.17,0.0,0.0
Other_Sales,0.13,0.06,0.04,0.12,0.19
Global_Sales,1.27,0.68,0.46,1.31,1.24
Critic_Score,75.0,76.0,70.0,78.0,79.0
Critic_Count,35.0,24.0,23.0,83.0,53.0
User_Score,8.5,8.9,8.7,7.8,7.7
User_Count,60.0,81.0,19.0,356.0,308.0
Developer,CyberConnect2,CyberConnect2,CyberConnect2,Radical Entertainment,Radical Entertainment
Rating,T,T,T,M,M
Story Focus,x,x,x,NaN,NaN
Gameplay Focus,NaN,NaN,NaN,x,x
Series,x,x,x,x,x

In [8]:
df.dtypes

Name                object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score         float64
User_Count         float64
Developer           object
Rating              object
Story Focus         object
Gameplay Focus      object
Series              object
dtype: object

In [11]:
df.describe()

       pairing_quality
count     34933.000000
mean          3.015115
std           1.409591
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000

In [14]:
object_columns = df.select_dtypes(include=['object']).columns
numerical_columns = df['pairing_quality']

In [16]:
for col in object_columns:
    print(f"Columna: {col}")
    print(df[col].unique())
    print("\n")

Columna: wine_type
['Syrah/Shiraz' 'Grenache' 'Madeira' 'Cabernet Sauvignon' 'Viognier'
 'Pinot Noir' 'Albariño' 'Sangiovese' 'Grüner Veltliner' 'Sauternes'
 'Cava' 'Riesling (dry)' 'Chardonnay' 'Nebbiolo' 'Port' 'Ice Wine'
 'Gewürztraminer' 'Merlot' 'Champagne' 'Torrontés' 'Sauvignon Blanc'
 'Malbec' 'Zinfandel' 'Barbera' 'Chenin Blanc' 'Provence Rosé'
 'Gamay (Beaujolais)' 'Tempranillo' 'White Zinfandel']


Columna: wine_category
['Red' 'Fortified' 'White' 'Dessert' 'Sparkling' 'Rosé']


Columna: food_item
['smoked sausage' 'charcuterie board' 'lemon tart' 'roast lamb'
 'duck à l’orange' 'citrus salad' 'oysters' 'cheese platter'
 'bacon burger' 'chicken curry' 'vegetable curry' 'alfredo pasta'
 'Thai curry' 'roast chicken with herbs' 'shrimp scampi' 'stir-fried tofu'
 'cheesecake' 'beef stew' 'grilled burger' 'Indian vindaloo'
 'mushroom risotto' 'grilled salmon' 'mac and cheese' 'sorbet'
 'grilled ribeye' 'cream of mushroom soup' 'olives and cheese'
 'Sichuan noodles' 'bbq brisket' 'fondue' 'bbq ribs' 'carbonara'
 'pork tenderloin' 'chocolate mousse' 'mixed nuts' 'fish tacos'
 'caprese salad' 'gazpacho']


Columna: food_category
['Smoky BBQ' 'Salty Snack' 'Dessert' 'Red Meat' 'Poultry' 'Acidic'
 'Seafood' 'Cheese' 'Pork' 'Vegetarian' 'Creamy' 'Spicy']


Columna: cuisine
['Spanish' 'French' 'Mexican' 'Vietnamese' 'Argentinian' 'Moroccan'
 'Italian' 'American BBQ' 'German' 'Thai' 'Middle Eastern' 'Japanese'
 'Chinese (Sichuan)' 'Ethiopian' 'Greek' 'Korean' 'Indian']


Columna: quality_label
['Poor' 'Neutral' 'Good' 'Excellent' 'Terrible']


Columna: description
['Heuristic pairing assessment.' 'Acidic wine balances acidic food.'
 'Tannic red complements red meat fat.' 'Crisp acidity suits seafood.'
 'Heavy wine can dominate poultry.'
 'Acidic wine balances acidic food.; Sweet/sparkling pairs with dessert.'
 'Richer body matches creamy textures.' 'Lighter wines fit poultry.'
 'Tannic reds clash with delicate seafood.'
 'Sweet/sparkling pairs with dessert.'
 'Idealized perfect pairing example for contrast.'
 'Too lean for creamy dish.' 'Light/medium red suits richer poultry/pork.'
 'Dry table wine clashes with dessert sweetness.'
 'Deliberately bad pairing example for contrast.'
 'Delicate wine overwhelmed by red meat.' 'Off-dry sweetness calms spice.'
 'Low-acid wine seems flabby vs acids.'
 'High tannin intensifies spice heat.'
 'Light red (Pinot) with salmon works.'
 'Acidic wine balances acidic food.; Dry table wine clashes with dessert sweetness.']