In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("course_lead_scoring.csv")
df

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1
...,...,...,...,...,...,...,...,...,...
1457,referral,manufacturing,1,NaN,self_employed,north_america,4,0.53,1
1458,referral,technology,3,65259.0,student,europe,2,0.24,1
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1460,referral,NaN,5,71016.0,self_employed,north_america,0,0.25,1
1461,organic_search,finance,3,92855.0,student,north_america,3,0.41,1

In [3]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [4]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [5]:
df.columns = df.columns.str.lower().str.replace(" ","_")
columns_object = list(df.dtypes[df.dtypes == "object"].index)
columns_object

['lead_source', 'industry', 'employment_status', 'location']

In [6]:
for c in columns_object:
    df[[c]] = df[[c]].fillna("NA").astype(str)
df["annual_income"] = df["annual_income"].fillna(0.0)

In [7]:
df.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
df_train_full, df_test = train_test_split(df,test_size=0.2,random_state=1)

In [9]:
df_train , df_val = train_test_split(df_train_full, random_state=1, test_size=0.25)

In [10]:
df_train = df_train.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)

In [11]:
y_train = df_train.converted.values
y_test = df_test.converted.values
y_val = df_val.converted.values

In [12]:
del(df_train["converted"])
del(df_test["converted"])
del(df_val["converted"])

In [13]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer()

In [14]:
train_dicts = df_train[["lead_score","industry", "number_of_courses_viewed","annual_income","employment_status","location","interaction_count","lead_score"]].to_dict(orient="records")
test_dicts = df_test[["lead_score","industry", "number_of_courses_viewed","annual_income","employment_status","location","interaction_count","lead_score"]].to_dict(orient="records")
val_dicts = df_val[["lead_score","industry", "number_of_courses_viewed","annual_income","employment_status","location","interaction_count","lead_score"]].to_dict(orient="records")
X_train = dv.fit_transform(train_dicts)
X_test = dv.transform(test_dicts)
X_val = dv.transform(val_dicts)

C:\Users\Desktop\AppData\Local\Temp\ipykernel_19680\1508118748.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  train_dicts = df_train[["lead_score","industry", "number_of_courses_viewed","annual_income","employment_status","location","interaction_count","lead_score"]].to_dict(orient="records")
C:\Users\Desktop\AppData\Local\Temp\ipykernel_19680\1508118748.py:2: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  test_dicts = df_test[["lead_score","industry", "number_of_courses_viewed","annual_income","employment_status","location","interaction_count","lead_score"]].to_dict(orient="records")
C:\Users\Desktop\AppData\Local\Temp\ipykernel_19680\1508118748.py:3: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  val_dicts = df_val[["lead_score","industry", "number_of_courses_viewed","annual_income","employment_status","location","interaction_count","lead_score"]].to_dict(orient="records")

In [15]:
X_train.shape, X_test.shape, X_val.shape

((876, 25), (293, 25), (293, 25))

In [ ]:
from sklearn.metrics import roc_auc_score